#### Pandas

In [ ]:
import numpy as np
import pandas as pd

lst = [1,2,3,4,5]
dicts = {1:" Image1",2:"Image2",3:"Image3",4:"Image4"}
pd.Series(lst)
ipd.Series(dicts)

1     Image1
2     Image2
3     Image3
4     Image4
dtype: object

In [19]:
from numpy.random import randn

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])


df

          W         X         Y         Z
A  1.715658 -0.832963  0.837963  0.480664
B  0.060858  0.438514 -0.801885 -1.706776
C -0.526917 -1.655888 -0.534343  0.740787
D -0.517444 -0.125826 -0.741459  1.390124
E -2.388567  0.531629 -0.469218  0.079698

In [ ]:
pd.DataFrame()


## data,index,column

df[df['W']>0]

## We should not use and for multiple boolean expressions
## We should use & for multiple boolean expressions

          W         X         Y         Z
A  1.715658 -0.832963  0.837963  0.480664
B  0.060858  0.438514 -0.801885 -1.706776

In [ ]:
## Resetting Index df.reset_index()

df.reset_index()

## To Save permanently we need to use inplace= True inside Reset_index

  index         W         X         Y         Z
0     A  1.715658 -0.832963  0.837963  0.480664
1     B  0.060858  0.438514 -0.801885 -1.706776
2     C -0.526917 -1.655888 -0.534343  0.740787
3     D -0.517444 -0.125826 -0.741459  1.390124
4     E -2.388567  0.531629 -0.469218  0.079698

In [35]:
pdf = pd.DataFrame(randn(3,3),['a','b','c'],['x','y','z'])

pdf

          x         y         z
a  1.574531 -0.528732 -0.566424
b  1.108293  1.000265  1.099925
c -0.115938 -0.911208  0.369602

In [47]:

## Data Frames
## Multi_Index
## Index_Hierarchy

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)
print('--------')
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
--------
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

             A         B
G1 1 -0.502629  0.830887
   2 -1.126913 -0.677775
   3  0.728733  0.082041
G2 1  0.964263 -1.443279
   2  0.735447  1.634558
   3  1.333223  0.586853

In [48]:
df.loc['G1']

          A         B
1 -0.502629  0.830887
2 -1.126913 -0.677775
3  0.728733  0.082041

In [51]:
df.loc['G1'].loc[1]['A']

np.float64(-0.502628894373851)